button {
    all: unset;
    font-weight: 500;
    color: var(--color-text-highlight);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;

    &.btn-primary {
        color: white;
        background-color: var(--brand-color-dark);

        &:hover, &:focus {
            background-color: #f3541c;
        }
    }

    &.btn-secondary {
        margin-left: auto;
        border: 1px solid var(--color-text-highlight);

        &:hover, &:focus {
            color: var(--brand-color-dark);
            outline: .25rem solid var(--surface-secondary);
        }
    }
}