.dropzone {
    border: 1px dashed var(--stroke-default);
    border-radius: .25rem;
    display: grid;
    justify-items: center;
    gap: .5rem;
    text-align: center;
    padding: 1.75rem 1rem;
    position: relative;

    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }

    & p {
        color: #a8a29e;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        outline: 2px dashed var(--stroke-highlight);
        pointer-events: none;
        opacity: 0;
    }

    &:hover,
    &:has(input:focus) {
        background-color: var(--surface-secondary);

        & p {
            color: var(--color-text-tertiary);
        }

        & svg path {
            stroke: var(--stroke-highlight);
        }

        &::before {
            opacity: 1;
        }
    }
}